

.body {
  background-color: #15317E;
}

h1, h2, h3, h4, h5, h6, p, div {
  font-family: 'Lusitana', serif;
}

p {
  font-size: 18px;
  color: #15317E;
}

#jumbotron-overrides {
  background-color: #15317E;
  border-radius: 0;
  color: #fff;
}

#jumbotron-overrides a {
  color: #fff;
}

#jumbotron-overrides a:hover {
  color: #74B4FA;
  text-decoration: none;
}

#jumbotron-container-overrides {
  padding-left: 0;
  padding-right: 0;
}

.infos {
  width: 80%;
  height: auto;
  border: 2px solid #fff;
  display: block;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 40px;
  background-color: #74B4FA;
}

.infos a {
  color: #fff;
}

.infos a:hover {
  text-decoration: none;
   color: #15317E;
}



#residential,
#agricultural {
  height: auto;
}

@media screen and (max-width: 531px){
  #pagination {
    border: 1px solid #000;
    text-align: center;
  }

  #pagination>li {
    display: inline-block;
    text-align: center;
  }

  #pagination>li>a {
    margin: 5px;
  }
}
