body {
  font-family: 'Lusitana', serif;
}

.infos {
  width: 100%;
  height: auto;
}

#residential,
#agricultural {
  height: auto;
}

@media screen and (max-width: 531px){
  #pagination {
    border: 1px solid #000;
    text-align: center;
  }

  #pagination>li {
    display: inline-block;
    text-align: center;
  }

  #pagination>li>a {
    margin: 5px;
  }
}
