html {
  background: transparent;
}

body {
  background-color: #479b47;
}

h1, h2, h3, h4, h5, h6, p, div {
  font-family: 'Lusitana', serif;
}

p {
  font-size: 18px;
}

#jumbotron-overrides {
  background-color: #479b47;
  border-radius: 0;
}

#jumbotron-container-overrides {
  padding-left: 0;
  padding-right: 0;
}

.infos {
  width: 80%;
  height: auto;
  border: 2px solid red;
  display: block;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 40px;
  background-color: #84b784;
}

#residential,
#agricultural {
  height: auto;
}

@media screen and (max-width: 531px){
  #pagination {
    border: 1px solid #000;
    text-align: center;
  }

  #pagination>li {
    display: inline-block;
    text-align: center;
  }

  #pagination>li>a {
    margin: 5px;
  }
}
